<h2>Template: Dinamicos</h2>
<hr>

<form (ngSubmit)="guardar()" #miFormulario="ngForm">
  <!-- Nombre -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        required
        type="form-control"
        placeholder="Nombre de la Persona"
        class="form-control"
        placeholder="Nombre del producto"
        name="name"
        [ngModel]="persona.nombre"

      >
      <span class="form-text text-danger"
            *ngIf="nombreValido()"
      >
            Debe ingresar un nombre
      </span>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div>

        <div class="input-group mb-3">

          <input class="form-control" [(ngModel)]="nuevoJuego" name="newJuego" (keyup.enter)="agregar()" >
          <button class="btn btn-outline-secondary" type="button" (click)="agregar()">Agregar</button>

        </div>

      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">

      <div class="input-group mb-3" *ngFor="let juego of persona.favoritos; let i = index">
        <input  [(ngModel)]="juego.nombre" name ="juego_{{i}}"
        class="form-control mb-1" placeholder="Nombre de la Persona"     >
        <button class="btn btn-outline-danger " type="button"  (click)="eliminar(i)">Eliminar</button>
      </div>


    </div>
  </div>





  <div class="row">
    <div class="col-sm-12 ml-3">
      <button class="btn btn-primary float-end" type="button" (click)="guardar()" [disabled]="miFormulario.invalid" >
        Guardar
      </button>


    </div>
  </div>



</form>

<span>Persona</span>
<pre>{{persona | json}} </pre>
