<h2>Template: Switches</h2>
<hr>

<form #miFormulario="ngForm">

  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">

        <input class="form-check-input"
               type="radio"
               name="RadioGenero"
               id="RadioGenero1"
               value="m"
               [(ngModel)]="persona.genero"
               >

               <label class="form-check-label"   for="RadioGenero1">
                 Hombre
                </label>

              </div>

              <div class="form-check">

                <input class="form-check-input"
                type="radio"
                name="RadioGenero"
                id="RadioGenero2"
                value="f"
                [(ngModel)]="persona.genero"

        >

        <label class="form-check-label"  for="RadioGenero2">
          Mujer
        </label>

      </div>

    </div>
  </div>
  <hr>
  <!-- Radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notificaciones</label>
    <div class="col-sm-9">

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="Switch1" name="switch" [(ngModel)]="terminos" >
        <label class="form-check-label" for="Switch1">Recibir Notificaciones</label>
      </div>

    </div>
  </div>

  <hr>
  <!-- Check -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Terminos y Condiciones</label>
    <div class="col-sm-9">

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" name="teminos" [(ngModel)]="terminos" required>
        <label class="form-check-label" for="flexCheckDefault">
          Acepto
        </label>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 ml-3">
      <button class="btn btn-primary float-end" type="button" [disabled]="miFormulario.invalid" >
        Guardar
      </button>


    </div>
  </div>

</form>
<h5>Formulario</h5>
<pre>
  {{miFormulario.value | json}}
</pre>
<h5>Terminos</h5>
<pre>
  {{ miFormulario.controls['teminos'].errors | json }}
</pre>
